<!-- Taken from https://bl.ocks.org/pjsier/fbf9317b31f070fd540c5523fef167ac and modified -->
<!DOCTYPE html>
<html>
  <head>
    <title>Realtime Data Line Graph</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset='utf-8' />
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    #chart {
      max-width: 600px;
      max-height: 400px;
    }
    </style>
  </head>
  <body>
    <div id="chart"></div>
    <script src="js/chart.js"></script>
    <script>
    var lineArr = [];
    var MAX_LENGTH = 100;
    var duration = 500;
    var chart = realTimeLineChart();
    chart.duration(500);

    var socket = new WebSocket("{{wsURL}}")
    socket.onmessage = function(event) {

      var msg = JSON.parse(event.data);

      msg.forEach(x => x.time = new Date(x.time))
      lineArr.push(...msg);

      if (lineArr.length > MAX_LENGTH) {
        lineArr = lineArr.slice(lineArr.length - MAX_LENGTH);
      }

      console.log("data", lineArr);
      d3.select("#chart").datum(lineArr).call(chart);
      }

    function randomNumberBounds(min, max) {
      return Math.floor(Math.random() * max) + min;
    }

    function seedData() {
      var now = new Date();
      for (var i = 0; i < MAX_LENGTH; ++i) {
        lineArr.push({
          time: new Date(now.getTime() - ((MAX_LENGTH - i) * duration)),
          value: 0,
        });
      }
    }



    function resize() {
      if (d3.select("#chart svg").empty()) {
        return;
      }
      chart.width(+d3.select("#chart").style("width").replace(/(px)/g, ""));
      d3.select("#chart").call(chart);
    }

    document.addEventListener("DOMContentLoaded", function() {
      seedData();
      //window.setInterval(updateData, 500);
      d3.select("#chart").datum(lineArr).call(chart);
      d3.select(window).on('resize', resize);
    });
    </script>
</body>
</html>
